p {
  color:red;
  size:12;
  font:sans-serif;
}

h1 {
  color:navy;
  size: 16;
  text-decoration: bold;
}

img src {
  width: 10%;
  height: 10%;
  border:dotted;
}

a {
  color: hotpink;
  size: 15;
  text-decoration: underline;
}

