p {
  border-style: dashed;
  float: right;
  font-color: black;
  size: 5;
}

header {
  background: dimGray;
  font color: white;
  size: 12;
  text-align: center;
}

h1 {
  background: dimGray;
  font color: white;
  size: 12;
  text-align: center;
  text-decoration: bold;
}

body {
  background: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h2 {
   font: bold;
  text-align: center;
  font color: black;
  size: 5;
  text-decoration: italic;
}

  
  a {
    border-style: solid;
    font-color: blue;
    text-decoration: underline;
}

img {
  float: left;
  width: 30%;
  height: 30%;
}
  
  
