p {
  border-style: dashed;
  float: right;
  font-color: black;
  size: 5;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
} 

header {
  background: dimGray;
  font color: white;
  size: 12;
  text-align: center;
}

h1 {
  background: dimGray;
  font color: white;
  size: 12;
  text-align: center;
  text-decoration: bold;
}

body {
  background: white;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 50px;
  padding-left: 50px;
}

h2 {
   font: bold;
  text-align: center;
  font color: black;
  size: 5;
  text-decoration: italic;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
}

  
  a {
    border-style: solid;
    font-color: blue;
    text-decoration: underline;
}

img {
  float: left;
  width: 45%;
  height: 45%;
}

div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
}
  
  
